<section id="backstory" class="px-6 py-20 lg:px-8 flex flex-col lg:flex-row border-b border-slate-200">
  <div class="w-full lg:w-2/5">
    <h2 class="heading-1">Backstory</h2>
  </div>
  <div class="w-full lg:w-3/5 flex flex-col gap-6 text-sm leading-6 text-slate-600">
    <p>
      First of all I would like to give you a short lead-in to the webpage and what you are likely to encounter should you decide to have a look around.
    </p>
    <p>
      I am Peter and am a lifetime lover of words in all their many guises, and together with the superior computer skills of my good friend Sam we have given birth to <i>inplanesite.me</i>.
    </p>
    <p>
      Initially you can open and read the first three of 21 episodes of <a href="#nobodys-child">'Nobody’s Child'</a> as well as a selection from the three <a href="#short-stories">'Short Stories'</a>.
    </p>
    <p>
      Inside the <a href="#music-box">'Music Box'</a> you can choose one of my self-penned songs and lyrics, then close out your journey enjoying the contents of the <a href="#fun-box">'Fun Box'</a>.
    </p>
  </div>
</section>

<section id="contents"
         class="px-6 pt-6 lg:px-8 lg:pt-8 pb-32 grid gap-6 border-b border-slate-200 md:grid-cols-[1fr_1fr]">
  <div>
    <h3 class="heading-2">Contents</h3>
  </div>
  <ul class="pt-2">
    <li class="heading-3"><span class="mr-2 text-slate-400">01</span> Nobody's Child</li>
    <li class="heading-3"><span class="mr-2 text-slate-400">02</span> Short Stories</li>
    <li class="heading-3"><span class="mr-2 text-slate-400">03</span> Music Box</li>
    <li class="heading-3"><span class="mr-2 text-slate-400">04</span> Fun box</li>
  </ul>
</section>

<section id="nobodys-child" class="px-6 pt-6 lg:px-8 lg:pt-8 flex flex-col gap-4 lg:gap-6 border-b border-slate-200 pb-12 text-balance lg:text-pretty">
  <h3 class="heading-1 mb-0 lg:mb-3"><a href="#nobodys-child" class="text-accent">01</a> Nobody's Child</h3>
  <p>
    We meet central character Maurice as he is driving down the M3 from London in his campervan during a nasty summer
    thunderstorm on his way to the south coastal town of Bournemouth. He sings and plays guitar in the street for a
    living, but due to the Londoners giving him a wide berth, he believes working the south coast in the summer is a
    good plan.
  </p>
  <p>
    As the thunderstorm seems relentless, he decides to pull into the next service station and give himself a serious
    talking to. Sitting at a table in the café area, he fumbles around in his backpack for a pen to make some notes on
    his finances when an elderly lady appears and offers him one.
  </p>

  <div class="my-6 lg:my-12 flex items-center justify-center">
    <img src="../assets/maurice-stormy-cafe-lg.png" alt="Maurice in a cafe meeting a lady for the first time, the weather is stormy outside and his motorhome is visible in the background" width="960" height="640" />
  </div>

  <div class="mb-6 md:mb-12 flex flex-col sm:flex-row text-pretty">
    <div class="flex-1">
      <h4 class="heading-4 mb-3">Background</h4>
    </div>
    <div class="flex-1 flex flex-col">
      <div class="mb-6">
        <h5 class="font-semibold">Inspiration</h5>
        <p>Nobody's Child is set in southern England in the late 90's and is formatted in Three series, each of Seven episodes, all of which can be read in round about an hour</p>
      </div>
      <div class="mb-6">
        <h5 class="font-semibold">Birth of the characters</h5>
        <p>Outline the key themes or goals of this story section</p>
      </div>
      <div>
        <h5 class="font-semibold">Main result</h5>
        <p>Empower businesses to move forward with accuracy and efficiency</p>
      </div>
    </div>
  </div>

  <hr />

  <article class="mt-3 md:mt-6 flex flex-col justify-between text-pretty">
    <div>
      <h4 class="heading-4 mb-3 lg:mb-10">3 Series, 7 Episodes</h4>

      <div class="flex flex-col md:flex-row gap-5 lg:gap-6">
        <div class="flex-1">
          <h5 class="font-semibold mb-1 lg:mb-3">01</h5>
          <p>He earns a paltry living as a street busker, but with his music not working too well in south London, after a doughnut for breakfast, he's left believing his luck will change in the seaside town of Bournemouth.</p>
        </div>
        <div class="flex-1">
          <h5 class="font-semibold mb-1 lg:mb-3">02</h5>
          <p>You are now in a motorway service station in southern England in the summer of 1997 and have met the two main characters of Nobody's Child.</p>
        </div>
        <div class="flex-1">
          <h5 class="font-semibold mb-1 lg:mb-3">03</h5>
          <p>You can, of course, guess what happens next but not being one for dealing out spoilers the offer of the first three episodes being sent to you for free suggests the plot will unthicken.</p>
        </div>
      </div>
    </div>
    <div class="mt-6 lg:mt-32">
			<button class="primary ml-onclick-form" onclick="ml('show', 'tllj8I', true)">Register interest</button>
    </div>
  </article>
</section>

<section id="short-stories" class="mb-6 pb-12 px-6 pt-6 lg:px-8 lg:pt-8 flex flex-col gap-4 lg:gap-6 border-b border-slate-200">
  <h3 class="heading-1 mb-0 lg:mb-3"><a href="#short-stories" class="text-accent">02</a> Short Stories</h3>
  <p>
    Peter is an impressive individual who draws inspiration from all walks of life -the young, the old, animals & nature to technological revolution.
  </p>
  <p>
    Together, these stories ensuring that inplanesite is providing value to you, the reader.
  </p>
  <p>
    We recognised the best solution for a world of readers is to provide material of substantial value and truthfulness in story form.
  </p>

  <!-- story articles -->
  <div class="md:mt-9 flex flex-col gap-12" data-include="components/story-articles.html"></div>
</section>

<!-- Music Box Section -->
<div data-include="components/music-box-content.html"></div>

<section id="fun-box" class="mb-6 pb-12 px-6 pt-6 lg:px-8 lg:pt-8 flex flex-col gap-4 lg:gap-6 border-b border-slate-200">
  <h3 class="heading-1 mb-0 lg:mb-3"><a href="#fun-box" class="text-accent">04</a> Fun Box</h3>

  <div class="grid gap-6 md:grid-cols-2" data-include="components/fun-articles.html"></div>
</section>

<section id="socials" class="pb-12 px-6 pt-6 lg:px-8 lg:pt-8 flex flex-col gap-4 lg:gap-6">
  <h3 class="heading-2 mb-0 lg:mb-3">Get Social</h3>
  <div data-include="components/fb-widget.html"></div>
</section>
