<article class="overflow-hidden sq-20 border border-slate-200">
  <div class="img h-40 bg-slate-100 overflow-hidden">
    <img
      src="../assets/blanco-boogie-and-me.jpg"
      alt="Photo of a human hand reaching out to allow a cat to smell"
      width="640"
      height="427"
    />
  </div>
  <div class="p-4">
    <h4 class="font-semibold">Blanco, Boogie, and Me</h4>
    <p class="text-sm text-slate-600">Photography should feature modern, well-lit workspaces with a clean and organised feel. The focus should be on clarity, avoiding clutter or overly dramatic compositions.</p>
  </div>
</article>

<article class="overflow-hidden sq-20 border border-slate-200">
  <div class="img h-40 bg-slate-100 overflow-hidden">
    <img
      src="../assets/plants-and-form-messages.jpg"
      alt="Photo of a fuchsia plant in a garden with an inspirational message written on a piece of paper"
      width="640"
      height="426"
    />
  </div>
  <div class="p-4">
    <h4 class="font-semibold">Plants and form messages</h4>
    <p class="text-sm text-slate-600">Photography should include elements of financial technology—computer screens displaying dashboards, tablets with data analytics, or hands interacting with financial tools—to highlight Redo’s tech-driven approach to error correction.</p>
  </div>
</article>

<article class="overflow-hidden sq-20 border border-slate-200">
  <div class="img h-40 bg-slate-100 overflow-hidden">
    <img
      src="../assets/milky-coffee-and-fruity-tea.jpg"
      alt="Photo of a fuchsia plant in a garden with an inspirational message written on a piece of paper"
      width="635"
      height="316"
    />
  </div>
  <div class="p-4">
    <h4 class="font-semibold">Milky Coffee and Fruity Tea</h4>
    <p class="text-sm text-slate-600">Images should capture real-world financial scenarios—professionals analysing reports, business owners reviewing balance sheets, and teams discussing financial strategies. This reinforces Redo’s role in helping businesses take control of their finances.</p>
  </div>
</article>

<article class="overflow-hidden sq-20 border border-slate-200">
  <div class="img h-40 bg-slate-100 overflow-hidden">
    <img
      class="object-contain"
      src="../assets/feel-the-love.jpg"
      alt="Photo of a fuchsia plant in a garden with an inspirational message written on a piece of paper"
      width="500"
      height="254"
    />
  </div>
  <div class="p-4">
    <h4 class="font-semibold">Feel the Love</h4>
    <p class="text-sm text-slate-600">Images should capture real-world financial scenarios—professionals analysing reports, business owners reviewing balance sheets, and teams discussing financial strategies. This reinforces Redo’s role in helping businesses take control of their finances.</p>
  </div>
</article>

<article class="overflow-hidden sq-20 border border-slate-200">
  <div class="img h-40 bg-slate-100 overflow-hidden">
    <img
      class="object-contain"
      src="../assets/funny-pineapple-with-sunglasses.jpg"
      alt="Funny photo of a pineapple wearing sunglasses"
      width="640"
      height="300"
    />
  </div>
  <div class="p-4">
    <h4 class="font-semibold">Alphabet soup</h4>
    <p class="text-sm text-slate-600">Last night I ate 4 bowls of alphabet soup, and this morning I had the biggest vowel movement.</p>
  </div>
</article>

<article class="overflow-hidden sq-20 border border-slate-200">
  <div class="img h-40 bg-slate-100 overflow-hidden">
    <img
      class="object-contain"
      src="../assets/women-holding-lemons-over-eyes.jpg"
      alt="Funny photo of a woman holding lemons over her eyes and a cheeky smile"
      width="640"
      height="300"
    />
  </div>
  <div class="p-4">
    <h4 class="font-semibold">Most of the time</h4>
    <p class="text-sm text-slate-600">My wife said, "You only want sex when you're drunk". "Not true," I replied "Most of the time I want a kebab".</p>
  </div>
</article>

<article class="overflow-hidden sq-20 border border-slate-200">
  <div class="img h-40 bg-slate-100 overflow-hidden">
    <img
      class="object-contain"
      src="../assets/yellow-head-sculpture.jpg"
      alt="Photo of a yellow head sculpture"
      width="640"
      height="300"
    />
  </div>
  <div class="p-4">
    <h4 class="font-semibold">Best day of my life</h4>
    <p class="text-sm text-slate-600">Anyone who says their wedding day was the best day of their life has obviously never had two Mars bars fall down at once from a vending machine.</p>
  </div>
</article>

<article class="overflow-hidden sq-20 border border-slate-200">
  <div class="img h-40 bg-slate-100 overflow-hidden">
    <img
      class="object-contain"
      src="../assets/funny-horse-photo-compressed.jpg"
      alt="Funny photo of a horse with a wide teeth showing smile"
      width="638"
      height="407"
    />
  </div>
  <div class="p-4">
    <h4 class="font-semibold">Ketchup!</h4>
    <p class="text-sm text-slate-600">My girlfriend asked me to put ketchup on the shopping list … I did and now I can’t read the bloody thing!</p>
  </div>
</article>