<header class="mx-auto flex flex-col w-full max-w-5xl items-center justify-between">
  <div class="w-full py-6 ps-12 flex items-center gap-2 text-lg font-semibold">
    <img
      class="pb-4"
      src="../assets/logo.svg"
      alt="In Plane Site Logo"
    />
    <h1>In Plane Site</h1>
  </div>

  <hr class="w-full" />

  <nav class="py-6 px-12 hidden w-full flex flex-col gap-2 text-sm text-slate-900 md:flex">
    <a href="#nobodys-child" class="hover:text-slate-500">
      Nobody's Child
      <sup class="text-slate-400">01</sup>
    </a>
    <a href="#short-stories" class="hover:text-slate-500">
      Short Stories
      <sup class="text-slate-400">02</sup>
    </a>
    <a href="#music-box" class="hover:text-slate-500">
      Music Box
      <sup class="text-slate-400">03</sup>
    </a>
    <a href="#fun-box" class="hover:text-slate-500">
      Fun Box
      <sup class="text-slate-400">04</sup>
    </a>
  </nav>

  <hr class="w-full" />

  <nav class="py-6 px-12 hidden w-full flex flex-col gap-2 text-sm text-slate-500 md:flex font-light">
    <a href="#nobodys-child" class="hover:text-slate-900">Get Social</a>
    <a href="#short-stories" class="hover:text-slate-900">Contact</a>
  </nav>


  <button class="inline-flex items-center gap-2 rounded-full border border-slate-200 px-4 py-2 text-sm text-slate-700 md:hidden">
    Menu
  </button>
</header>
