<div class="px-6 pt-6 lg:px-8 lg:pt-8 pb-32 grid gap-6 border-b border-slate-200 md:grid-cols-[1fr_1fr]">
	<div>
		<h3 class="heading-2">Contents</h3>
	</div>
	<ul class="pt-2">
		<li class="heading-3"><span class="mr-2 text-slate-400">01</span> Nobody's Child</li>
		<li class="heading-3"><span class="mr-2 text-slate-400">02</span> Short Stories</li>
		<li class="heading-3"><span class="mr-2 text-slate-400">03</span> Music Box</li>
		<li class="heading-3"><span class="mr-2 text-slate-400">04</span> Fun box</li>
	</ul>
</div>
