<div
	class="px-6 pt-6 lg:px-8 lg:pt-8 flex flex-col gap-4 lg:gap-6 border-b border-slate-200 pb-12 text-balance lg:text-pretty">
	<h3 class="heading-1 mb-0 lg:mb-3"><a href="#nobodys-child" class="text-accent">01</a> Nobody's Child</h3>
	<p>
		We meet central character Maurice as he is driving down the M3 from London in his campervan during a nasty summer
		thunderstorm on his way to the south coastal town of Bournemouth. He sings and plays guitar in the street for a
		living, but due to the Londoners giving him a wide berth, he believes working the south coast in the summer is a
		good plan.
	</p>
	<p>
		As the thunderstorm seems relentless, he decides to pull into the next service station and give himself a serious
		talking to. Sitting at a table in the café area, he fumbles around in his backpack for a pen to make some notes on
		his finances when an elderly lady appears and offers him one.
	</p>

	<div class="my-3 flex items-center justify-center mr-auto">
		<img src="../assets/maurice-in-cafe.png"
			 alt="Maurice in a cafe meeting a lady for the first time, the weather is stormy outside and his motorhome is visible in the background"
			 width="900" height="600"/>
	</div>

	<article class="flex flex-col justify-between text-pretty">
		<div>
			<h4 class="heading-4 mb-3 lg:mb-10">3 Series, 7 Episodes</h4>

			<div class="flex flex-col md:flex-row gap-5 lg:gap-6">
				<div class="flex-1">
					<h5 class="font-semibold mb-1 lg:mb-3">01</h5>
					<p>He earns a paltry living as a street busker, but with his music not working too well in south London, after
						a doughnut for breakfast, he's left believing his luck will change in the seaside town of Bournemouth.</p>
				</div>
				<div class="flex-1">
					<h5 class="font-semibold mb-1 lg:mb-3">02</h5>
					<p>You are now in a motorway service station in southern England in the summer of 1997 and have met the two
						main characters of Nobody's Child.</p>
				</div>
				<div class="flex-1">
					<h5 class="font-semibold mb-1 lg:mb-3">03</h5>
					<p>You can, of course, guess what happens next but not being one for dealing out spoilers the offer of the
						first three episodes being sent to you for free suggests the plot will unthicken.</p>
				</div>
			</div>
		</div>
		<div class="mt-6 lg:mt-32">
			<button class="primary ml-onclick-form" onclick="ml('show', 'tllj8I', true)">Register interest</button>
		</div>
	</article>
</div>
