<div class="mb-6 pb-12 px-6 pt-6 lg:px-8 lg:pt-8 flex flex-col gap-4 lg:gap-6 border-b border-slate-200">
	<h3 class="heading-1 mb-0 lg:mb-3"><a href="#short-stories" class="text-accent">02</a> Short Stories</h3>
	<p>
		Welcome to Short Stories, a collection of a diverse collection of work that can be read in round about an hour.
	</p>
	<p>
		What inspired me to write them is that if you travel on a train or some other way of getting to work you can counter the boredom of the journey with a short read.
	</p>
	<p>
		Initially I have given you a choice of three that include a summary of the content and have another ten in the final proof reading stage that will keep you topped up.
	</p>

	<p>
		The purpose of <i>inplanesite.me</i> is to diversify as much as is possible with words and music, and in the process, create a compendium of choices that sidle smoothly into your day.
	</p>

	<!-- story articles -->
	<div class="md:mt-9 flex flex-col gap-12" data-include="components/story-articles.html"></div>
</div>
