<article class="flex flex-col items-center md:flex-row gap-4 md:gap-9 p-4">
  <div class="h-44 w-44 rounded-full border hover:border-[#575757] duration-500 ease-in-out overflow-hidden">
    <img
      src="../assets/peter-pee-pee.png"
      height="263"
      width="175"
      alt="Illustration of Peter Pee Pee standing outside a fish restaurant looking anxiously embarrassed"
    />
  </div>
  <div class="flex-1">
    <h4 class="heading-4 mb-2 md:mb-0 text-center md:text-left">Peter Pee Pee</h4>
    <p class="mb-4">
      This is a true story of when I was invited by two Spanish friends to eat at a fish restaurant in Murcia and with all the tables inside taken we had to order outside at the service window.
    </p>
    <p class="mb-4">
      Once the food arrived it was like a competition between the guys about who chose the tastiest eats but feeling a little under pressure on it I excused myself and went to the toilet.
    </p>
    <p class="mb-4">
      It was super tiny and had a sloping roof which added to my anxiousness and when I slid the door shut sadly I ended up being locked in the toilet.
    </p>
    <p class="mb-4">
      I did eventually get out of course but I´ll leave you to enjoy what happened when the door opened … oh yes and the punchline … Yes there is one.
    </p>
    <p class="text-center md:text-left">
      <a href="#">read more.</a>
    </p>
  </div>
</article>

<article class="flex flex-col items-center md:flex-row gap-4 md:gap-9 p-4">
  <div class="h-44 w-44 rounded-full border hover:border-[#575757] duration-500 ease-in-out overflow-hidden"></div>
  <div class="flex-1">
    <h4 class="heading-4 mb-2 md:mb-0 text-center md:text-left">The Boy and The Bird</h4>
    <p class="mb-4">
      A young boy who´s being looked after by a nanny because his parents work late in the city gets bullied at school because he´s overweight.
    </p>
    <p class="mb-4">
      Safely home from school and eating in his room, he has a chance encounter with a small bird on his window ledge. His movement scared the bird away a few times but finally it picks up a small piece of a doughnut and flies off.
    </p>
    <p class="mb-4">
      The story tracks the bird into and out of the woods but not wanting to spoil your read the happiness the young boy is enjoying eventually comes undone and not in a good way.
    </p>
    <p class="text-center md:text-left">
      <a href="#">read more.</a>
    </p>
  </div>
</article>

<article class="flex flex-col items-center md:flex-row gap-4 md:gap-9 p-4">
  <div class="h-44 w-44 rounded-full border hover:border-[#575757] duration-500 ease-in-out overflow-hidden">
    <img
      src="../assets/rite-of-passage.png"
      height="175"
      width="175"
      alt="Illustration of Peter Pee Pee standing outside a fish restaurant looking anxiously embarrassed"
    />
  </div>
  <div class="flex-1">
    <h4 class="heading-4 mb-2 md:mb-0 text-center md:text-left">Rite of Passage</h4>
    <p class="mb-4">
      Another true story only this time it’s about when I was fifteen years old and at my grandmother’s house and it was the evening of December 31st 1964.
    </p>
    <p class="mb-4">
      I specifically recorded above how old I was at the time as during the evening my grandmother took me to one side and asked if I would like to be the person who knocks on her door after the twelfth bell.
    </p>
    <p class="mb-4">
      I of course agreed in an instant as this was seen as the greatest honour to be bestowed on a young man and was effectively his rite of passage to adulthood.
    </p>
    <p class="mb-4">
      Although it can now be argued that I´ve just given you the entire plot, the story is about the mental and emotional somersaults I went through leading up to the great event.
    </p>
    <p class="text-center md:text-left">
      <a href="#">read more.</a>
    </p>
  </div>
</article>