body {
  font-family: "Rethink Sans", sans-serif;
}

.hero-control {
  border-radius: 100%;
  border: 1px solid rgb(226 232 240);
  color: #F7F7F7;
  padding: 0.75rem;
  background-color: rgba(0, 0, 0, 0.2);
  transition: background-color 150ms ease, color 150ms ease;
}

.hero-control.prev {
  margin-left: 20px;
}
.hero-control.next {
  margin-right: 20px;
}

.hero-control:hover {
  background-color: rgba(0, 0, 0, 0.15);
}

/**
Headings
*/
.page-title {
  font-weight: 300;
  font-size: 22px;
}

.heading-1 {
  font-size: 50px;
  font-weight: 400;
  line-height: 110%;

  @media screen and (max-width: 1024px) {
    margin-bottom: 1rem;
    font-size: 36px;
  }
}

p {
  font-size: 15px;
  line-height: 120%;
  color: #575757;
}

/**
Navigation Styles
 */

header nav a {
  font-size: 15px;
  line-height: 120%;
}