body {
  font-family: "Rethink Sans", sans-serif;
}

.hero-control {
  border-radius: 100%;
  border: 1px solid rgb(226 232 240);
  color: #F7F7F7;
  padding: 0.75rem;
  background-color: rgba(0, 0, 0, 0.2);
  transition: background-color 150ms ease, color 150ms ease;
}

.hero-control.prev {
  margin-left: 20px;
}
.hero-control.next {
  margin-right: 20px;
}

.hero-control:hover {
  background-color: rgba(0, 0, 0, 0.15);
}

/**
Fonts
*/
header h1 {
  font-weight: 300;
  font-size: 22px;
}

/**
Navigation Styles
 */

header nav a {
  font-size: 15px;
  line-height: 120%;
}